.holder{
    display: flex;
    background-color: blue;
    flex-wrap: wrap;
    justify-content: space-between;
}
#item1{
    background-color: black;
    color: white;
    padding: 5px;
    
}
#item2{
    background-color: aqua;
    color: white;
    padding: 5px;
    
}
#item3{
    background-color: brown;
    color: white;
    padding: 5px;

}
#item4{
    background-color: cornflowerblue;
    color: white;
    padding: 5px;
    
}
#item5{
    background-color: darkcyan;
    color: white;
    padding: 5px;
    
}